<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.crabcode.Atom</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the Atom to create</string>
			<key>Identifier</key>
			<string>AtomName</string>
			<key>Name</key>
			<string>New AtomName Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_AtomName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_AtomName___AtomView</string>
			<key>Description</key>
			<string>View name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_AtomName___AtomViewModel</string>
			<key>Description</key>
			<string>View AtomName name</string>
			<key>Identifier</key>
			<string>viewModelAtomName</string>
			<key>Name</key>
			<string>View Model:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_AtomName___AtomSenses</string>
			<key>Description</key>
			<string>Senses name</string>
			<key>Identifier</key>
			<string>sensesName</string>
			<key>Name</key>
			<string>Sense:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Summary</key>
	<string>This generates a new atom module using MVVM arc.</string>
</dict>
</plist>
